<!DOCTYPE html>
<htmlhtml xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<meta charset="UTF-8">
		<title>Insira aqui o seu título</title>
		</head>
		<divbody>
			<nav class="navbar navbar-dark bg-primary">
				<a class="navbar-brand">
					<img src="/images/ifmt.png" width="50" height="50" alt="IFMT"/>
			</a>
			</nav>
			<form action="/titulos" method="POST">
				<div class="alert alert-success alert-dismissible" role="alert"
					th:if="${!#strings.isEmpty(mensagem)}">
					<button type="button" class="close" data-dismiss="alert"></button>
					<span>Salvo com sucesso!</span>	
				</div>
			
			<div class="card">
				<div class="card-reader tux-titulo-panel"> <span class="tux-titulo-panel">Novo título</span>
				</div> 
			</div>
			
			<div class="card-body">
				<div class="form-group row">
				<label for="descricao" class="col-sm-2 col-form-label">Descrição</label>
				<div class="col-sm-4">
				<input type="text" class="form-control" id="Descricao"
				placeholder="Descrição" name="descricao">
				</div>
				</div>
			
			<div class="form-group row">
			<label for="dataVencimento" class="col-sm-2 col-form-label">Data de Vencimento</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="dataVencimento" />
			</div>
			</div>
			
			<div class="form-group row">
				<label for="valor" class="col-sm-2 col-form-label">Valor</label>
				<div class="col-sm-4">
				<input type="text" class="form-control" id="valor"/>
				</div>
				</div>
			
			<div class="form-group row">
				<label for="status" class="col-sm-2 col-form-label">Status</label>
				<div class="col-sm-4">
				<select class="form-control" id="status">
					<option>Pendente</option>
					<option>Recebido</option>
				</select>
				</div>
			</div>
			
			<div class="form-group row">
				<div class="col-md-2 offset-md-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div> 
			</div>
			</div>
			</form>
			
		<h1>Dificil demais esse trem</h1>
		<script src="/js/jquery-3.4.1.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/popper.min.js"></script>
		</body>
	</html>